body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #333a40;
  height: 812px;
}

div.container {
  margin: 0 auto;
}

div.container img {
  width: 70%;
}
