<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/error.css') }}"
    />
    <title>Pok&eacute;API</title>
  </head>
  <body>
    <div class="container">
      <img
        src="https://archive-media-0.nyafuu.org/vp/image/1512/00/1512001609452.png"
        alt="Error 404"
      />
    </div>
  </body>
</html>
